body {
    height: 100vh;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.navigation-wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    outline: 5px solid salmon;
}

.navigation {
    display: flex;
    align-items: center;
}

.navigation ul {
    display: flex;
}

.navigation li {
    padding: 1rem;
}

.logo {
    font-size: 1.5rem;
    font-weight: 700;
    letter-spacing: 0.1em;
    text-decoration: none;
}

main {
    height: calc(100vh - 60px - 83px);
    display: flex;
}

.main-content {
    flex-grow: 2;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    align-items: center;
    justify-items: center;
    outline: 5px solid salmon;
}

.description {
    background-color: burlywood;
}

.main img {
    max-width: 100%;
    margin: 0 auto;
}

footer ul#social {
    display: flex;
    margin-right: 3rem;
}

footer {
    display: flex;
    justify-content: flex-start;
    padding: 2rem 0;
    outline: 5px solid salmon;
}

.container {
    display: grid;
    grid-template-areas:
        'header header'
        'sidebar content'
        'footer footer';
    grid-template-columns: 1fr 3fr;
    gap: 20px;
}

header {
    grid-area: header;
}

article {
    grid-area: content;
}

aside {
    grid-area: sidebar;
}

footer {
    grid-area: footer;
}
