/* Empty case */
.comments {
  border-bottom: 2px dotted #5f5f5f;
  border-top: 2px dotted #5f5f5f;
  margin-bottom: 16px;
  margin-top: 16px;
}

.comments:empty {
  display: none;
}

img:only-child {
  border: 2px solid #5f5f5f;
}

li:only-child {
  background-color: rgb(210, 133, 133);
}

.comment > span:only-of-type {
  color: blueviolet;
}

.fishNotInDanger li:first-child {
  border-top: 1px dashed #5f5f5f;
  padding-top: 0.5rem;
}

.fishNotInDanger li:last-child {
  border-bottom: 1px dashed #5f5f5f;
  padding-bottom: 0.5rem;
}

/* first of type example - qui first-child non funziona perchè c'è l'elemento picture prima */
/* Potete combinare vari pseudo elementi, come :not */
/* section:first-of-type {
  margin: 0 16px;
} */

/* nth-child */
tr:nth-child(2n + 1) {
  background-color: #c5c5c5;
}

tr:nth-child(even) {
  background-color: antiquewhite;
}

tr:nth-child(odd) {
  outline: 1px solid black;
}

/*:not() deve essere usato con cautela, nel caso qui sotto stiamo dicendo che dobbiamo selezionare tutti i non elementi 🤷‍♀️ */
/* :not(*) {
  color: red;
} */

p:not(.highlighted):first-of-type {
  text-align: end;
  margin-left: 16px;
}

/* L'ordine con cui definiaimo questi pseudo selettori è importante!!! se scambiamo hover and active vediamo che active non funziona più qui vince la cascata!*/
/* https://bitsofco.de/when-do-the-hover-focus-and-active-pseudo-classes-apply/ */

a:hover {
  color: red;
}

a:focus {
  font-style: italic;
}

a:active {
  color: green;
}

a:visited {
  color: maroon;
}

a:visited:hover {
  color: chocolate;
}
