:root {
    /* color palette https://coolors.co/c7e8f3-bf9aca-8e4162-41393e-eda2c0*/
    --light-blue: #c7e8f3;
    --light-lille: #bf9aca;
    --dark-rose: #8e4162;
    --dark-grey: #41393e;
    --light-rose: #eda2c0;

    --dark-blue: #0f4c75;

    --logo-color: white;

    --shadow: rgba(65, 57, 62, 0.5);

    --border-radius: 8px;

    /* sizing */
    --small: 1rem;
    --medium: 2rem;
    --large: 4rem;
    --x-large: 8rem;
}

/* Reset some elements */
* {
    box-sizing: border-box;
}

body,
html {
    margin: 0;
    font-family: 'Josefin Sans', sans-serif;
    max-width: 1390px;
    margin: 0 auto;
}

button,
input {
    border: none;
    font-family: 'Montserrat', sans-serif;
    font-size: calc(var(--small) - 0.3rem);
}

ul,
menu {
    list-style: none;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

a:hover {
    color: var(--light-blue);
    transition: color 0.5s ease-in-out;
}

/* Common styles */
.caption {
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-size: x-small;
    letter-spacing: 2px;
}

.primary-cta {
    padding: var(--small) var(--medium);
    background-color: var(--dark-rose);
    color: white;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.ghost-cta {
    padding: var(--small) var(--medium);
    background-color: transparent;
    border: 1px solid currentColor;
    color: white;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.ghost-cta--dark {
    padding: var(--small) var(--medium);
    background-color: transparent;
    color: var(--dark-rose);
}

/* Header */

.hero {
    background-image: url(./assets/bg-desktop.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: var(--medium) var(--large);
}

.nav-wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
}

.nav-wrap__logo,
.nav-wrap__logo > svg {
    line-height: 0;
}

.nav__menu {
    display: flex;
    justify-content: space-between;
}

.nav__menu li + li {
    margin-left: var(--medium);
}

.nav__link a {
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    color: white;
    text-decoration: none;
}

.nav__link a:hover {
    color: var(--light-blue);
    transition: color 0.5s ease-in-out;
}

.nav-wrap__menuSmall {
    display: none;
}

.nav-wrap__mobile {
    display: none;
}

.nav-wrap__close {
    display: none;
}

@media (max-width: 960px) {
    .hero {
        background-image: none;
        background: linear-gradient(
            to bottom,
            var(--dark-rose),
            var(--light-rose)
        );
        padding: var(--medium) var(--medium);
    }
    .nav-wrap__main {
        display: none;
    }

    .nav-wrap__cta {
        display: none;
    }

    .nav-wrap__menuSmall {
        display: block;
    }

    .nav-wrap__menuSmall > svg {
        fill: currentColor;
        width: 2.5rem;
        height: 2.5rem;
    }

    body[data-mobile] {
        overflow: hidden;
        --logo-color: var(--dark-grey);
        color: var(--dark-grey);
    }

    body[data-mobile] .nav-wrap {
        position: fixed;
        top: 0;
        bottom: 0;
        background-color: white;
        left: 0;
        right: 0;
        z-index: 1;
        flex-direction: column;
        color: currentColor;
        justify-content: flex-start;
    }

    body[data-mobile] .nav-wrap__main {
        display: block;
    }

    body[data-mobile] .nav-wrap__close {
        display: block;
    }

    body[data-mobile] .nav__link a {
        color: currentColor;
    }

    body[data-mobile] .nav-wrap__logo {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        padding: var(--medium) var(--medium);
    }

    body[data-mobile] .nav__menu {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    body[data-mobile] .nav__menu li {
        margin: 0;
        margin-bottom: var(--medium);
    }

    body[data-mobile] .nav-wrap__menuSmall {
        display: none;
    }

    body[data-mobile] .nav-wrap__menuSmall {
        display: none;
    }

    body[data-mobile] .nav-wrap__cta {
        display: flex;
        flex-direction: column;
        width: 80%;
    }

    body[data-mobile] .nav-wrap__cta .ghost-cta {
        margin-bottom: var(--medium);
        color: var(--dark-rose);
    }
}

.header-content {
    padding: var(--large) 0;
    color: white;
}

.header-content h1 {
    padding: var(--medium) 0;
    padding-top: var(--small);
    font-size: var(--large);
    margin: 0;
}

/* search bar */

.search-bar {
    background-color: var(--light-lille);
    padding: var(--large) var(--large);
    color: var(--dark-grey);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: var(--large);
    text-align: center;
}

.search-bar h2 {
    font-size: var(--medium);
    margin-bottom: var(--medium);
    margin-top: 0;
}
.search-events__inputWrap {
    position: relative;
    width: 80%;
}

.search-events__inputWrap input {
    padding: var(--small) var(--medium);
    border-radius: var(--border-radius);
    border: 1px solid var(--dark-grey);
    width: 100%;
    box-shadow: 2px 2px 10px var(--shadow);
    font-size: var(--small);
}

.search-events__icon {
    position: absolute;
    width: 24px;
    height: 24px;
    top: 50%;
    transform: translateY(-50%);
    right: var(--small);
}

.featured-eventsWrap {
    background-color: var(--dark-grey);
    padding: var(--medium) var(--large);
}
.featured-events__title {
    color: var(--light-blue);
    font-size: var(--medium);
    padding-bottom: 0;
    margin: 0;
}
.featured-events__subtitle {
    font-family: 'Montserrat', sans-serif;
    padding-bottom: var(--medium);
    color: white;
}
.featured-events {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: var(--medium);
    padding-top: 0;
}
.featured-event {
    flex: 0 1 fit-content;
    padding: var(--small);
    border: 1px solid white;
    border-radius: var(--border-radius);
    display: flex;
    flex-direction: column;
    color: white;
}

.featured-event__img {
    align-self: center;
}
.featured-event__img img {
    min-width: 170px;
    width: 250px;
    max-width: 100%;
}

@media (max-width: 960px) {
    .featured-event__img img {
        width: auto;
        max-width: 100%;
    }

    .featured-eventsWrap {
        padding: var(--medium) var(--medium);
    }
}

.featured-events__cta {
    margin-top: var(--medium);
}

.featured-event__details {
    align-self: flex-start;
}
.featured-event__venue {
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
    font-size: calc(var(--small) - 0.2rem);
    text-transform: uppercase;
}
.featured-event__time {
    margin-bottom: 0;
}

.trandingGeners {
    color: var(--dark-rose);
    background-color: var(--light-blue);
    padding: var(--medium) var(--large);
    text-align: center;
}

.trandingGeners h3 {
    margin: 0 var(--medium);
    font-size: var(--medium);
}

.trandingGeners p {
    color: var(--dark-grey);
    font-family: 'Montserrat', sans-serif;
}
.geners {
    display: flex;
    flex-wrap: wrap;
    gap: var(--small);
    justify-content: center;
    padding-top: var(--medium);
}
.gener {
    padding: var(--small) var(--medium);
    border: 1px solid var(--dark-rose);
    border-radius: 30px;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-size: calc(var(--small) - 2px);
}

footer {
    color: white;
    font-family: 'Montserrat', sans-serif;
    background-color: var(--dark-rose);
    font-weight: 200;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: var(--large);
}

.footer__copyright a {
    color: white;
}

.footer__copyright {
    font-size: 0.8rem;
    max-width: 300px;
    text-align: center;
}

.footer__menu {
    display: flex;
    gap: var(--medium);
    font-weight: 400;
    margin: var(--large) 0;
}
