html {
  font-size: 48px;
  font-family: 'Courier New', Courier, monospace;
}


.gridParent {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 50px 1fr;
  grid-template-areas:
  'sidebar header'
  'sidebar main';
  gap: 0.5em;
}

[class^='item'] {
  background-color: cadetblue;
}

.main {
  grid-area: main;
  height: 100vh;
  background-color: red;
}

.aside {
 grid-area: sidebar;
 background-color: aquamarine;
}

.header {
  grid-area: header;
  background-color: green;
} 


/* .gridParent {
  display: grid;
  grid-template-columns: repeat(2, minmax(500px, 400px));
  grid-template-rows: 50px 1fr;
  grid-template-areas:
  'sidebar header'
  'sidebar main';
  gap: 0.5em;
}

[class^='item'] {
  background-color: cadetblue;
} */
