body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana,
        sans-serif;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

button {
    border: none;
    background: linear-gradient(
        90deg,
        rgb(255, 0, 225),
        rgb(213 146 220)
    );
    cursor: pointer;
    padding: 1rem;
    border-radius: 4px;
}

.navigation-wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 2rem;
}

.navigation {
    display: flex;
    align-items: center;
}

.navigation ul {
    display: flex;
}

.navigation li {
    padding: 1rem;
}

.logo {
    font-size: 1.5rem;
    font-weight: 700;
    letter-spacing: 0.1em;
    text-decoration: none;
}

main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 80vh;
    gap: 2rem;
    place-items: center;
    padding: 0 2rem;
}

.image {
    /* display: contents permette di ereditare il display del padre */
    display: contents;
}

img {
    max-width: 60%;
}

.main-content img {
    grid-area: image1;
    max-width: 100%;
    margin: 0 auto;
}

footer ul#social {
    display: flex;
    margin-right: 3rem;
}

footer ul#social li + li {
    padding-left: 1rem;
}

footer {
    display: flex;
    justify-content: flex-start;
    padding: 2rem;
}
