:root {
    --alpha: 0.35;

    --mobileBreakpoint: 375px;
    --desktopBreakpoint: 1440px;

    --primary: hsl(0, 100%, 74%);
    --secondary-light: hsl(155, 64%, 59%);
    --secondary: hsl(154, 59%, 51%);
    --secondary-dark: hsl(154, 65%, 38%);

    --accent: hsl(248, 32%, 49%);
    --neutral-dark: hsla(249, 10%, 26%, var(--alpha));
    --neutral-light: hsl(246, 25%, 77%);

    --border-radius: 8px;
}

* {
    box-sizing: border-box;
}

body,
html {
    margin: 0;
}

button {
    border: none;
}

body {
    font-family: 'Poppins', sans-serif;
    background-image: url('./images/bg-intro-mobile.png');
    background-color: var(--primary);
    padding: 2rem;
    display: grid;
    place-content: center;
    height: 100vh;
}

.maincontent {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    margin: 3rem auto;
}

.content {
    color: white;
    margin: 2rem 0;
    flex: 1 0 30%;
    max-width: 400px;
    text-align: left;
}

.content__title {
    font-size: 2.5rem;
}
/* custom properties non funzionano con le madia query, dovete utilizzare un preprocessore */
@media (max-width: 1024px) {
    .content {
        text-align: center;
    }
}

.banner {
    background-color: var(--accent);
    color: white;
    border-radius: var(--border-radius);
    padding: 1rem;
    text-align: center;
    box-shadow: 0px 8px 0px 0px var(--neutral-dark);
    margin-bottom: 2rem;
}

.form {
    border-radius: var(--border-radius);
    background-color: white;
    padding: 2rem;
}

.inputWrap {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}
.inputWrap__label {
    display: block;
    font-size: 0.8rem;
    margin-bottom: 0.5rem;
}
.inputWrap__input {
    padding: 1rem;
}

.button {
    border-radius: var(--border-radius);
    padding: 1rem;
    font-weight: 700;
    width: 100%;
    text-transform: uppercase;
}

.button--secondary {
    background-color: var(--secondary);
    border-bottom: 4px solid var(--secondary-dark);
    box-shadow: 2px 2px 8px 0px var(--neutral-dark);
    color: white;
    transition: all 0.2s linear;
}

.button--secondary:hover {
    box-shadow: none;
}
