:root {
    --maxWidth: 1200px;
}

form {
    max-width: var(--maxWidth);
    margin: 0 auto;
    font-size: 1rem;
}

fieldset {
    padding: 1rem;
    margin-bottom: 1rem;
}

input:checked + label {
    color: coral;
}

.checkbox {
    width: 24px;
}

.invalid-msg {
    display: none;
}

#email.is-typed:invalid ~ .invalid-msg {
    display: block;
    color: crimson;
}

.input-wrapper,
.radio-wrapper {
    display: flex;
    flex-direction: column;
    margin: 1rem auto;
    width: clamp(200px, 50vw, var(--maxWidth));
}

.input-wrapper label {
    padding: 0.25rem 0;
}

.input-wrapper input,
select {
    padding: 0.25rem;
}

.radio-wrapper label {
    padding: 0.25rem 0;
}

.radio {
    display: flex;
    align-items: center;
}

.radio label {
    padding-left: 0.5rem;
}

.radio input {
    width: 1rem;
    height: 1rem;
}
