* {
  box-sizing: border-box;
  list-style: none;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
  width: 50vw;
  margin: 0 auto;
}

h1 {
  text-align: center;
}

#selectTemperature {
  text-align: left;
  margin-bottom: 2rem;
}

.temperatureKelvin {
  color: #472ccb;
}

.temperatureCelsius {
  color: #3b72d9;
}

.temperatureFahrenheit {
  color: #4e4467;
}

.temperatureContry {
  background-color: #898fa9;
  background-size: cover;
  padding: 2rem 0 6rem 0;
  background-blend-mode: soft-light;
  background-position: center;
  margin-bottom: 0.5rem;
}

#temperatureItaly {
  background-image: url('https://media.timeout.com/images/105463981/750/562/image.jpg');
  background-position: center 65%;
}

#temperatureThailand {
  background-image: url('https://images.contentstack.io/v3/assets/blt00454ccee8f8fe6b/blt1b6c4533f8a775c0/61bae73dd628d527ff440420/AU_Bangkok_TH_Header.jpg');
}

#temperatureUsa {
  background-image: url('https://media.cntraveler.com/photos/617086eb88e80fd76c019d36/16:9/w_2560%2Cc_limit/Los%2520Angeles_GettyImages-845028274.jpg');
}

.city {
  font-size: 2rem;
  box-shadow: 2px 2px 5px solid black;
  background-color: #e2e3b5a8;
  padding: 0.5rem;
}

.city span {
  font-size: 1rem;
  font-weight: bold;
}

.city a {
  color: black;
  text-decoration-line: none;
}
.city a:visited {
  color: inherit;
}

.hidden {
  display: none;
}

.active {
  display: block;
}
