body,
html {
    margin: 0;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri,
        'Trebuchet MS', sans-serif;
}

body {
    margin: 4rem;
}

p {
    font-size: 24px;
}

.absolute-example {
    position: relative;
}

.element-absolute {
    position: absolute;
    top: 0;
    background-color: aliceblue;
}

.container-block {
    background-color: rgb(172, 212, 131);
    border: 3px solid rgb(89, 120, 58);
    /* Togliendo width e height al contenitore vediamo cosa succede all'elemento in position absolute*/
    width: 20vw;
    height: 20vh;
    margin: 5vh auto;
    color: rgb(89, 120, 58);
    position: relative;
}

.to-position {
    box-shadow: 4px 4px 15px 0 #706f6f;
    border-radius: 5px;
    padding: 1rem;
}

.to-position__absolute {
    color: rgb(94, 187, 187);
    background-color: paleturquoise;
    border: 3px solid rgb(94, 187, 187);
    font-size: 24px;
    position: absolute;
    top: 1rem;
    left: 1rem;
}

.to-position__fixed {
    color: rgb(143, 36, 72);
    background-color: palevioletred;
    border: 3px solid rgb(143, 36, 72);
    font-size: 24px;
    position: fixed;
    bottom: 1rem;
}

.to-position__sticky {
    position: sticky;
    top: 3rem;
    background-color: coral;
    color: rgb(183, 83, 46);
    border: 3px solid rgb(183, 83, 46);
}

.container-circle {
    position: relative;
}

.circle-1 {
    position: absolute;
    width: 200px;
    height: 200px;
    background-color: aquamarine;
    clip-path: circle(30%);
    z-index: 2;
}

.circle-2 {
    position: absolute;
    width: 300px;
    height: 300px;
    background-color: purple;
    clip-path: circle(30%);
    z-index: 1;
}

.circle-3 {
    position: absolute;
    width: 400px;
    height: 400px;
    background-color: blue;
    clip-path: circle(30%);
    z-index: 0;
}

[class^='circle']:hover {
    transition: 1s cubic-bezier(0.68, -0.55, 0.27, 1.55);
    clip-path: circle(45%);
}

.float {
    float: left;
    shape-outside: url('./kisspng-french-bulldog-dog-breed-snout-bulldog-frances-5b3b6cf6304af6.2207222215306211741978.png');
}
