:root {
  font-family: sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

button {
  border: 0;
}

#signup {
  max-width: 500px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

input {
  padding: 1rem;
  margin-bottom: 0.5rem;
}

.btn {
  padding: 1rem;
  border: 2px solid black;
}
