/* Universal selector */
* {
    box-sizing: border-box;
    list-style: none;
}
/************/

/* Element selector */
table {
    border-collapse: collapse;
    width: 100%;
}
/************/

/* Anchestor selector */
section ul {
    background-color: palevioletred;
}

section table ul {
    background-color: palegoldenrod;
}
/************/

/* children selector */
table > tbody > tr > th {
    background-color: paleturquoise;
}
/************/

/* sibling adiacent selector */
tr + tr {
    border: 2px solid black;
}
/************/

/* sibling selector */
section ~ section {
    background-color: pink;
}
/************/

/* Partial attribute selector */
/* in this case is matching any value as repice in the href attribute*/

a[href*='recipe'] {
    color: purple;
}
/* in this case is matching the start of the attribute value href*/

a[href^='http'] {
    color: gray;
}
